{% extends "base.html" %}

{% block body%}
{% load static %}
<div class="container" style="margin-top: 10vh;">
  <div class="row">
    <div class="col-md-6" style="padding-left: 10vh;">
      <div class="contact-info">
          <h3 style="justify-content: center;">Call To Us</h3>

      <p>
      <span><i class="fas fa-envelope"></i></span>
      <h5>We are available 24/7,7 days a week</h5>
      </p>
        <p>
          <span><i class="fas fa-phone"></i></span>
          <h5>Phone: +923245346964</h5>
        </p>

        <hr>
          <h3 style="justify-content: center;">Write To Us</h3>
        <p>
          <h5>Fill out our form & we will contact us in 24 hour</h5>
        </p>
      </div>

    </div>


    <div class="col-md-6">
    <div class="contact-form">
        <div class="form-section">
          <h2 class="form-title">Contact Us</h2>
          <form action="/product/contact" method="post">
            {% csrf_token %}
            <div class="input-field">
              <!-- <label for="name">Name:</label> -->
              <input type="text" id="name" name="name" class="form-control" placeholder="Your Name" required>
            </div>
            <div class="input-field">
              <!-- <label for="phone_number">Phone Number:</label> -->
              <input type="tel" id="phone_number" name="phone_number" class="form-control" placeholder="Your phone_number" required>
            </div>
            <div class="input-field">
              <!-- <label for="email">Email Address:</label> -->
              <input type="email" id="email" name="email" class="form-control" placeholder="Your Email" required>
            </div>
            <div class="input-field">
              <!-- <label for="message">Message:</label> -->
              <textarea id="message" name="message" required class="form-control" placeholder="Your Message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send Message</button>
          </form>
        </div>
      </div>
    </div>
    </div>
    </div>
{% endblock %}

<!-- <input class="user_name" type="user_name" name="user_name"placeholder="Your Name"> -->










